@media screen and (max-width: 1300px) {
    .cedar-left {
        left: -100px;
    }
}

@media screen and (max-width: 1170px) {
    .cedar {
        display: none;
    }

    .header-main-title {
        font-size: 60px;
    }

    .header-main-subtitle {
        font-size: 38px;
    }

    .header {
        padding: 0  40px;
    }
}

@media screen and (max-width: 1025px) {
    .header {
        background: url('../images/md_header_bg.jpg') no-repeat center fixed;
        background-size: 100% 35em;
        background-position: center bottom;
    }

    .header-info {
        justify-content: space-between;
    }

    .header-logo {
        display: block;
    }

    .header-main {
        width: 60%;
        padding: 80px 0;
    }

    .action-btn {
        bottom: 50px;
    }

    .header-main-title {
        font-size: 50px;
    }

    .header-main-subtitle {
        font-size: 28px;
    }
}

@media screen and (max-width: 769px) {
    .discount-logo {
        padding: 5px;
    }

    .header {
        background-size: 100% 25em;
    }

    .header-info-inner {
        width: 380px;
    }

    .header-main {
        width: 80%;
    }

    .header-main-title {
        font-size: 70px;
        letter-spacing: 2px;
    }

    .header-main-subtitle {
        font-size: 48px;
    }

    .modal-window {
        width: 60vw;
        height: 60vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 740px) {
    .header-main-title {
        font-size: 60px;
    }

    .header-main-subtitle {
        font-size: 38px;
    }
}

@media screen and (max-width: 650px) {
    .header {
        background-size: 100% 20em;
    }

    .header-info-text {
        display: none;
    }

    .header-info-inner {
        width: 150px;
    }

    .header-main-title {
        font-size: 50px;
    }

    .header-main-subtitle {
        font-size: 28px;
    }
}

@media screen and (max-width: 375px) {
    .icon-location {
        display: none;
    }

    .header {
        padding: 0 10px;
    }

    .header-main {
        padding: 5px 0;
    }

    .header-main-title {
        font-size: 25px;
    }

    .header-main-subittle {
        font-size: 10px;
    }

    .header-main-action {
        padding: 20px 0 50px 0;
    }

    .discount-text {
        font-size: 14px;
    }
}