* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.cedar {
    position: absolute;
    z-index: 100;
}

.cedar-left {
    left: -20px;
}

.cedar-right {
    left: 25%;
    bottom: 0;
}

.header {
    padding: 0 25px;
    position: relative;

    width: 100vw;
    height: 100vh;
    
    background: url('../images/header_bg.jpg') no-repeat center fixed;
    background-size: cover;

    overflow: hidden;
}

.header-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 0 10px;
    height: 120px;
}

.header-info-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 450px;
    height: 100%;
}

.header-info-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info-phones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icon {
    width: 35px;
    height: 45px;

    margin-right: 20px;

    transition: transform 1s linear;
}

.header-logo {
    display: none;
}

.header-icon:hover {
    transform: rotate(360deg);
    transition: transform 1s linear;
}

.header-main {
    padding: 5px 0;
    position: relative;
}

.header-main-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #DDDDDD;
    font-size: 70px;
    text-transform: uppercase;
}

.header-main-subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #C4C4C4;
    font-size: 48px;
    text-transform: uppercase;
}

.header-main-action {
    padding: 40px 0 50px 0;
}

.action-discount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.discount-text {
    color: #000;
    font-size: 18px;
}

.discount-logo {
    border: 1px solid red;
    padding: 8px;
    margin-left: 10px;
}

.action-btn {
    position: absolute;

    color: #fff;
    font-size: 14px;
    background-color: red;
    border: none;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;

    bottom: 0;
    padding: 12px 60px;

    cursor: pointer;
    transition: background-color 0.5s linear;

    z-index: 1000;
}

.action-btn:hover {
    background-color: orange;
    transition: background-color 0.5s linear;
}

.modal-window {
    display: none;
    position: absolute;

    width: 50vw;
    height: 50vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #DDD;
    background-color: #fff;

    z-index: 2000;
}

.modal-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-close:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    width: 15px;
    height: 1px;
    background: #000;
    transform: rotate(-45deg)
}

.modal-close:after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    width: 15px;
    height: 1px;
    background: #000;
    transform: rotate(45deg)
}

.modal-title {
    color: #000;
    font-size: 24px;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}

.modal-container {
    max-width: 379px;
    margin: 0 auto;
}

.modal-field {
    padding: 0 10px 20px 10px;
}

.modal-text {
    color: #000;
    font-size: 18px;
}

.modal-input {
    width: 100%;
    padding: 15px 15px;
    border: none;
    outline: none;
    background-color: #F4F4F4;
}

.modal-btn {
    display: block;
    color: #fff;
    font-size: 14px;
    background-color: red;
    border: none;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;

    margin: 8px auto 8px auto;
    padding: 12px 60px;

    cursor: pointer;
    transition: background-color 0.5s linear;

    z-index: 1000;
}

.modal-btn:hover {
    background-color: orange;
    transition: background-color 0.5s linear;
}

.secure {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
}

.secure-text {
    color: #DDD;
    text-transform: uppercase;
    margin-left: 10px;
}

#modal-success {
    display: none
}

.success-inner {
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 40px 0;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.success-title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.success-subtitle {
    text-align: center;
    font-weight: 500;
}

.vertical-line {
    position: absolute;
    width: 1px;
    background: red;
    height: 100vh;

    z-index: 1;
}